<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="/css/bootstrap.css">
        <title th:text="#{test.title}">Default</title>
    </head>
    <body>
        <div class="container">
            <div class="row mt-2 mb-2 mx-auto" th:if="${persons}">
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Name</th>
                            <th scope="col">ClassName</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="person, status : ${persons}">
                            <th th:text="${status.count}">1</th>
                            <td th:text="${person.name}">Mark</td>
                            <td th:text="${person.classname}">Otto</td>
                        </tr>
                    </tbody>
                </table>

                <div th:fragment='paginationbar' class="row col-sm-12 mx-auto">
                    <ul class="list-group list-group-horizontal">
                        <li class="list-group-item">
                            <span th:if="${page.first}">←先頭</span>
                            <a th:if="${not page.first}" th:href="@{/allperson/0}">←先頭</a>
                        </li>
                        <li th:each='i : ${#numbers.sequence(0, page.totalPages-1)}' th:class="(${i}==${page.number})? 'active list-group-item' : 'list-group-item'">
                            <span th:if='${i}==${page.number}' th:text='${i+1}'>1</span>
                            <a th:if='${i}!=${page.number}' th:href="@{/allperson/{num}(num=${i})}">
                                <span th:text='${i+1}'>1</span>
                            </a>
                        </li>
                        <li class="list-group-item">
                            <span th:if="${page.last}">末尾➝</span>
                            <a th:if="${not page.last}" th:href="@{/allperson/{num}(num=${page.totalPages}-1)}">末尾➝</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </body>
    <script src="/js/bootstrap.js" />
</html>